#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FTS_8201AB
    bool "Focaltech Touchscreen"
    default n
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.

config TOUCHSCREEN_FTS_DIRECTORY
    string "Focaltech ts directory name"
    default "FT8201AB"
    depends on TOUCHSCREEN_FTS_8201AB
