config SENSORS_TCS3400
	tristate "AMS-TAOS TCS3400 Color and IR sensor"
	depends on I2C
	default n
	help
	  If you say yes here you get support for the ams-taos tcs3400,
	  ALS/Color sensor.
	  This driver can also be built as a module.  If so, the module
	  will be called tcs3400.
