config THERMAL_FOD
   bool "Mechanism to detect foreign ojbect"
   help
     Whenever wireless charging is working, avoid the inablility to correctly
     detect foregin objects and cause the deivce to overheat.

config AMZN_THERMAL_VIRTUAL_SENSOR
   bool "VIRTUAL_SENSOR thermal management"
   help
     Adds VIRTUAL_SENSOR thermal management implementation according to the thermal
     management framework. A thermal zone with several trip points will be
     created. Cooling devices can be bound to the trip points to cool this
     thermal zone if trip points reached.

config THERMAL_SHUTDOWN_LAST_KMESG
   bool "THERMAL_SHUTDOWN_LAST_KMESG save the last kmsg"
   help
     Save the last kmsg when thermal shuts down the system.
